B/* Global Declaration  */

* {
  margin: 0;
  padding: 0;
  box-sizing: none;
  font-family: "Poppins", BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", SFMono-Regular,
    Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

:root {
  --light: #f8faf8e1;
  --dark: #000000;
  --padding-body: 0 18rem;
  --padding-nav: 0.5rem 12rem;
  --padding-mobile: 0.5rem 2rem;
  --font-main: 2rem;
  --tertiary: #d3eae6;
  --gray: #6c757d;
}

body,
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-size: 1.3rem;
}

a {
  text-decoration: none;
  cursor: pointer;
}

/* Navigation  */

nav {
  padding: var(--padding-nav);
  background-color: var(--tertiary);
  margin-bottom: 0.2rem;
  text-align: center;
}

nav span {
  color: var(--dark);
  font-size: 2rem;
}

footer a {
  color: var(--gray);
  font-size: 1.2rem;
}

footer a:hover {
  color: var(--dark);
}

/* Main Body  */
#first-session {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 12rem;
}

.left-col a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px transparent var(--dark);
  border-radius: 1rem;
  background-color: var(--tertiary);
  padding-bottom: 0.5rem;
}
.left-col label {
  padding: 0.5rem 0;
}

.left-col img {
  width: 35%;
  border-radius: 2rem;
  box-shadow: 5px 5px 10px var(--gray);
}

.data-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
  padding-top: 1rem;
}

/* Footer  */

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--tertiary);
  color: var(--dark);
  padding: 3rem 12rem 7rem 12rem;
}

footer a {
  font-weight: 500;
}

footer p {
  color: var(--gray);
}

/* Responsiveness  */
@media screen and (max-width: 580px) {
  nav {
    padding: var(--padding-mobile);
    margin-bottom: 2rem;
  }

  nav h3 {
    font-size: 1.5rem;
  }

  #first-session {
    display: grid;
    padding: 1rem 2rem;
    margin: 1rem 0;
  }

  .main-img {
    padding-right: 0;
  }

  .info {
    flex-direction: column;
    margin-top: 2rem;
  }

  footer {
    flex-direction: column;
    padding: 1rem 2rem 6rem 2rem;
  }
}
